









<c-row class="testsss">
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-body>
          <form  cForm class="row g-3" [formGroup]="studentDataUpdate" (ngSubmit)="studentDataUpdateSubmit()">
            <c-col md="12">
              <label cLabel for="inputEmail4">Student Name</label>
              <input formControlName="name" cFormControl id="inputEmail4" type="text" placeholder="Student Name" />
              <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.name && errorMessage.name.length">{{errorMessage.name[0]}}</p> -->
            </c-col>

            <!-- <c-col md="6">
              <label cLabel for="inputPassword34">Gender</label> -->
              <!-- <input formControlName="gender" value="id" cFormControl id="inputPassword34" type="text" placeholder="Gender" /> -->
              <!-- <select formControlName="gender"cSelect id="inputState1">
                <option>Choose...</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
               
              </select> -->
            
              <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.gender && errorMessage.gender.length">{{errorMessage.gender[0]}}</p> -->
            <!-- </c-col> -->

            <c-col md="6">
              <label cLabel >Blood group</label>
              <!-- <input formControlName="gender" value="id" cFormControl id="inputPassword34" type="text" placeholder="Gender" /> -->
              <select formControlName="blood_group"cSelect >
                <option>Choose...</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
               
              </select>
            
              <p class="validation-Message" *ngIf="errorMessage && errorMessage.blood_group && errorMessage.blood_group.length">{{errorMessage.blood_group[0]}}</p>
            </c-col>



            <c-col md="6">
              <label cLabel > Date Of Birth </label>
              <input formControlName="date_of_birth" cFormControl type="date" />
              <p class="validation-Message" *ngIf="errorMessage && errorMessage.date_of_birth && errorMessage.date_of_birth.length">{{errorMessage.date_of_birth[0]}}</p>
            </c-col>

            <c-col md="6">
              <label cLabel for="inputPassword4">Admission date</label>
              <input formControlName="admission_date" cFormControl id="inputPassword4" type="date" />
              <p class="validation-Message" *ngIf="errorMessage && errorMessage.admission_date && errorMessage.admission_date.length">{{errorMessage.admission_date[0]}}</p>
            </c-col>

            <c-col md="6">
              <label cLabel >E-mail :</label>
              <input formControlName="email"  cFormControl  type="email" placeholder="E-mail :" />
              <p class="validation-Message" *ngIf="errorMessage && errorMessage.email && errorMessage.email.length">{{errorMessage.email[0]}}</p>
            </c-col>
            <c-col md="6">
              <label cLabel for="inputPassword444">Phone</label>
              <input formControlName="phone"  cFormControl id="inputPassword444" type="text" placeholder="Phone" />
              <p class="validation-Message" *ngIf="errorMessage && errorMessage.phone && errorMessage.phone.length">{{errorMessage.phone[0]}}</p>
            </c-col>
  
            <c-col md="6">
              <label cLabel for="inputPassword4441">Password</label>
              <input formControlName="password"  cFormControl id="inputPassword4441" type="password" placeholder="Password" />
              <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.password && errorMessage.password.length">{{errorMessage.password[0]}}</p> -->
            </c-col>
  
<!--          
            <c-col md="6">
              <label cLabel >Religion </label>
              <input formControlName="religion"  cFormControl  type="text" placeholder="Religion " />
              <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.phone && errorMessage.phone.length">{{errorMessage.phone[0]}}</p> -->
            <!-- </c-col> -->

            <c-col md="6">
              <label cLabel for="inputState1">Class </label>
              <!-- <select formControlName="instituteCat" cSelect id="inputState" (change)="getSubType(select)" #select> -->
              <select formControlName="class_id" cSelect id="inputState11" (change)="getSection(select.value)"
                #select>
                <option>Choose...</option>
                <!-- <option  *ngFor="let item of instituteData" [value]="item.instituteName">{{item.instituteName}}</option> -->
                <option *ngFor="let item of classDatas"  [value]="item.id">
                  {{item.name}}
                </option>
              </select>
              <p class="validation-Message" *ngIf="errorMessage && errorMessage.class_id && errorMessage.class_id.length">{{errorMessage.class_id[0]}}</p>
            </c-col>
          
          
          
          
            <c-col md="6">
              <label cLabel for="inputPassword424">Section</label>
              <!-- <input formControlName="section_id"  cFormControl id="inputPassword424" type="text" placeholder="Section" /> -->
              
              <select formControlName="section_id" cSelect>
              <option>Choose...</option>
              <!-- <option  *ngFor="let item of instituteData" [value]="item.instituteName">{{item.instituteName}}</option> -->
              <option *ngFor="let item of classSectionData?.sections" value="{{ item.id }}">{{ item.name }}
              </option>
            </select>
              <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.password && errorMessage.password.length">{{errorMessage.password[0]}}</p> -->
            </c-col>
          
          
           
          
           
          
          
          
            <c-col md="6">
              <label cLabel >Session</label>
              <input formControlName="session"  cFormControl  type="text" placeholder="Session" />
              <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.password && errorMessage.password.length">{{errorMessage.password[0]}}</p> -->
            </c-col>


            <c-col md="6">
              <label cLabel >Roll No</label>
              <input formControlName="roll_no"  cFormControl  type="text" placeholder="Roll No" />
              <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.password && errorMessage.password.length">{{errorMessage.password[0]}}</p> -->
            </c-col>

            <c-col md="6">
              <label cLabel >Student id</label>
              <input formControlName="student_id"  cFormControl  type="text" placeholder="Student id" />
              <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.password && errorMessage.password.length">{{errorMessage.password[0]}}</p> -->
            </c-col>
          

            <c-col md="6">
              <label cLabel for="inputPassword41">Present Address</label>
              <input formControlName="present_address" value="id" cFormControl id="inputPassword41" type="text" placeholder="Present Address" />
              <p class="validation-Message" *ngIf="errorMessage && errorMessage.present_address && errorMessage.present_address.length">{{errorMessage.present_address[0]}}</p>
            </c-col>
            <c-col md="6">
              <label cLabel for="inputPassword4112">Permanent Address</label>
              <input formControlName="permanent_address" value="id" cFormControl id="inputPassword4112" type="text" placeholder="Permanent Address" />
              <p class="validation-Message" *ngIf="errorMessage && errorMessage.permanent_address && errorMessage.permanent_address.length">{{errorMessage.permanent_address[0]}}</p>
            </c-col>
  
            <c-col md="6">
              <label cLabel >Image </label>
              <input cFormControl  type="file" accept="image/*" (change)="onFileSelected($event)">
              <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.joining_date && errorMessage.joining_date.length">{{errorMessage.joining_date[0]}}</p> -->
            </c-col>
  
            <c-col xs="12">
              <button cButton type="submit" >Update Student</button>
              
           
            </c-col>
          
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  
  







 
  

 






 





  
  
  
  
  
  
  