














<c-row class="testsss">
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-body>
            <form [formGroup]="classRoutineForm" (ngSubmit)="routineOnSubmit()">  
        
                <c-col md="12">
                    <label cLabel for="inputState1">Class </label>
                    <!-- <select formControlName="instituteCat" cSelect id="inputState" (change)="getSubType(select)" #select> -->
                    <select formControlName="class_id" cSelect id="inputState11" (change)="getSection(select.value)"
                      #select>
                      <option [value]="null" disabled>Choose...</option>
                        <option *ngFor="let item of classDatas"  [value]="item.id">
                        {{item.name}}
                      </option>
                    </select>
                    <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.class_id && errorMessage.class_id.length">{{errorMessage.class_id[0]}}</p> -->
                  </c-col>
                
                
                
                
                  <c-col md="12" class="headder-div">
                    <label cLabel for="inputPassword424">Section</label>
                    <!-- <input formControlName="section_id"  cFormControl id="inputPassword424" type="text" placeholder="Section" /> -->
                    
                    <select formControlName="section_id" cSelect>
                        <option [value]="null" disabled>Choose...</option>
                    <option *ngFor="let item of classSectionData?.sections" value="{{ item.id }}">{{ item.name }}
                    </option>
                  </select>
                    <p class="validation-Message" *ngIf="errorMessage && errorMessage.class_section_id && errorMessage.class_section_id.length">{{errorMessage.class_section_id[0]}}</p>
                  </c-col>

                  <c-col md="12" class="headder-div">
                    <label cLabel for="inputPassword34">Week day</label>
                    <!-- <input formControlName="gender" value="id" cFormControl id="inputPassword34" type="text" placeholder="Gender" /> -->
                     <select formControlName="weekday"  cSelect id="inputState1">
                     
                      <option [value]="null" disabled>Choose...</option>
                   
                       <option value="1">Saturday</option>
                      <option value="2">Sunday</option>
                      <option value="3">Monday</option>
                      <option value="4">Tuesday</option>
                      <option value="5">Wednesday</option>
                      <option value="6">Thursday</option>
                      <option value="7">Friday</option>
                     
                    </select> 
                  
                    <p class="validation-Message" *ngIf="errorMessage && errorMessage.weekday && errorMessage.weekday.length">{{errorMessage.weekday[0]}}</p>
                   </c-col> 



             <c-card class="add-More-div" formArrayName="items">
               
                   


                    <c-card class="routine-items-div" *ngFor="let quantity of items().controls; let i=index" [formGroupName]="i">
                       
                        <c-card-body>
                            <c-col md="12">
                                <label cLabel for="inputPassword34">Subject</label>
                                <!-- <input formControlName="gender" value="id" cFormControl id="inputPassword34" type="text" placeholder="Gender" /> -->
                                 <select formControlName="subject_id"  cSelect id="inputState1">
                                 
                                  <option [value]="null" disabled>Choose...</option>
                                   <option *ngFor="let item of subjectData?.subject.data" value="{{item.id}}">{{item.name}}</option>
                                  
                                 
                                </select> 
                              
                                <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.gender && errorMessage.gender.length">{{errorMessage.gender[0]}}</p> -->
                               </c-col> 

                            
                        </c-card-body>
                        <c-card-body>
                            <c-col md="12">
                                <label cLabel for="inputPassword34">Teacher</label>
                                <!-- <input formControlName="gender" value="id" cFormControl id="inputPassword34" type="text" placeholder="Gender" /> -->
                                 <select formControlName="teacher_id"  cSelect id="inputState1">
                                 
                                  <option [value]="null" disabled>Choose...</option>
                                   <option *ngFor="let item of teaData.teachers.data" value="{{item.id}}">{{item.user.name}}</option>
                                 
                                 
                                </select> 
                              
                                <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.gender && errorMessage.gender.length">{{errorMessage.gender[0]}}</p> -->
                               </c-col> 

                            
                        </c-card-body>
                        <c-card-body>
                            <c-col md="12">
                                <label cLabel for="inputPassword34">Room</label>
                                <!-- <input formControlName="gender" value="id" cFormControl id="inputPassword34" type="text" placeholder="Gender" /> -->
                                 <select formControlName="room_id"  cSelect id="inputState1">
                                 
                                  <option [value]="null" disabled>Choose...</option>
                                   <option *ngFor="let item of classRoomListData" value="{{item.id}}">{{ item.room_no }}</option>
                                 
                                 
                                </select> 
                              
                                <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.gender && errorMessage.gender.length">{{errorMessage.gender[0]}}</p> -->
                               </c-col> 

                            
                        </c-card-body>
                        <c-card-body>
                            <c-col md="12">
                                <label cLabel for="">Start Time</label>
                                <input formControlName="start_time"  cFormControl  type="time" placeholder="Gender" />
                               
                              
                                <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.gender && errorMessage.gender.length">{{errorMessage.gender[0]}}</p> -->
                               </c-col> 

                            
                        </c-card-body>
                        <c-card-body>
                            <c-col md="12">
                                <label cLabel for="">End Time</label>
                                <input formControlName="end_time" cFormControl  type="time" placeholder="" />
                             
                              
                                <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.items.0.end_time && errorMessage.items.0.end_time.length">{{errorMessage.items.0.end_time[0]}}</p> -->
                               </c-col> 

                            
                        </c-card-body>

                        <c-card-body class="remove-btn-div">
                           
                            <button (click)="removeQuantity(i)" class="remove-btn-danger">Remove</button>  
                            
                        </c-card-body>
                    </c-card>

                    <c-card-body>
                        <c-col md="12">
                           <button type="button" (click)="addQuantity()" class="btn btn-primary">Add More</button>  
                           <p class="validation-Message" *ngIf="errorMessage && errorMessage.items && errorMessage.items.length">{{errorMessage.items[0]}}</p>
                 
                       </c-col>
                   </c-card-body>

                  </c-card>


         
                <button type="submit" class="btn btn-success">Add Routine</button>  
                  
              </form>  
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  
  



