<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <form cForm class="row g-3" [formGroup]="teacherAdd" (ngSubmit)="teaSubmit()">
          <c-col md="6">
            <label cLabel for="inputEmail4">Teacher Name</label>
            <input formControlName="name" cFormControl id="inputEmail4" type="text" placeholder="Teacher Name" />
            <p class="validation-Message" *ngIf="errorMessage && errorMessage.name && errorMessage.name.length">{{errorMessage.name[0]}}</p>
          </c-col>

          <c-col md="6">
            <label cLabel for="inputState">Department Id</label>
            <select formControlName="department_id" cSelect id="inputState">
              <option>Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <p class="validation-Message" *ngIf="errorMessage && errorMessage.department_id && errorMessage.department_id.length">{{errorMessage.department_id[0]}}</p>
         
          </c-col>

          <c-col md="6">
            <label cLabel for="inputPassword4">Joining date</label>
            <input formControlName="joining_date" cFormControl id="inputPassword4" type="date" />
            <p class="validation-Message" *ngIf="errorMessage && errorMessage.joining_date && errorMessage.joining_date.length">{{errorMessage.joining_date[0]}}</p>
          </c-col>

          <c-col md="6">
            <label cLabel for="inputPassword444">Phone</label>
            <input formControlName="phone"  cFormControl id="inputPassword444" type="text" placeholder="Phone" />
            <p class="validation-Message" *ngIf="errorMessage && errorMessage.phone && errorMessage.phone.length">{{errorMessage.phone[0]}}</p>
          </c-col>
          <c-col md="6">
            <label cLabel for="inputPassword34">Gender</label>
            <!-- <input formControlName="gender" value="id" cFormControl id="inputPassword34" type="text" placeholder="Gender" /> -->
            <select formControlName="gender"cSelect id="inputState1">
              <option>Choose...</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
             
            </select>
          
            <p class="validation-Message" *ngIf="errorMessage && errorMessage.gender && errorMessage.gender.length">{{errorMessage.gender[0]}}</p>
          </c-col>

           <c-col md="6">
            <label cLabel for="inputState4">Union Name</label>
            <select formControlName="union_id" cSelect id="inputState333">
              <option>Choose...</option>
              <option *ngFor="let item of unionName" value="{{ item.id }}">
                {{ item.name }}
              </option>
            </select>
            <p class="validation-Message" *ngIf="errorMessage && errorMessage.union_id && errorMessage.union_id.length">{{errorMessage.union_id[0]}}</p>
          </c-col>


          <c-col md="6">
            <label cLabel for="inputPassword41">Present Address</label>
            <input formControlName="present_address" value="id" cFormControl id="inputPassword41" type="text" placeholder="Present Address" />
            <p class="validation-Message" *ngIf="errorMessage && errorMessage.present_address && errorMessage.present_address.length">{{errorMessage.present_address[0]}}</p>
          </c-col>
          <c-col md="6">
            <label cLabel for="inputPassword42">Password</label>
            <input formControlName="password"  cFormControl id="inputPassword42" type="password" placeholder="Password" />
            <p class="validation-Message" *ngIf="errorMessage && errorMessage.password && errorMessage.password.length">{{errorMessage.password[0]}}</p>
          </c-col>

          <c-col xs="12">
            <button cButton type="submit">Add Teacher</button>
          </c-col>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
