.add-btn-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    background-color: white;
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
  }
}

.table-main-area {
  background-color: white;
  padding: 30px 20px;
  border-radius: 5px;
  margin: 30px 0;

  .table {
    .table-thead {
      background-color: rgb(15, 148, 201);
      color: white;
      text-align: center;

      .table-row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .table-heading {
          width: 100%;
          font-weight: 500;
          font-size: 16px;
          //  min-width: 200px;
          //   padding: 13px 4%;
        }
      }
    }

    .tbody {
      text-align: center;

      .table-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid rgb(112, 111, 110);

        .table-data {
          width: 100%;
          // min-width: 200px;
          // padding: 13px 4%;

          button {
            border: none;
            background-color: white;
          }

          .action-Btn {
            // background-color: blue;
            // color: white;
            font-size: 16px;
            font-weight: 500;
            padding: 9px 33px;
            border-radius: 5px;
          }

          .deleteBtn {
            display: flex !important;
            align-items: center !important;
            gap: 10px;
          }
        }
      }
    }
  }

  .pagination-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}

.button-atag {
  text-decoration: none;
}

// ::ng .ngx-pagination a{
//   text-decoration: none !important;

// }

.deleteBtn {
  display: flex !important;
  align-items: center !important;
  gap: 10px;
}

.no-Data-img{
  width: 40%;
  padding: 8% 0;
  margin: 0 30%;
}

@media (min-width: 300px) and (max-width: 400px) {
  .table-main-area {
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
    margin: 30px 0;

    .table {
      overflow-x: scroll;
      width: 100%;

      .table-thead {
        background-color: rgb(15, 148, 201);
        color: white;

        width: 200vw;
        text-align: center;

        .table-row {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .table-heading {
            width: 100%;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }

      .tbody {
        width: 203vw;
        text-align: center;

        .table-row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 2px solid rgb(112, 111, 110);
          width: 100%;

          .table-data {
            width: 100%;

            // min-width: 200px;
            // padding: 13px 4%;

            button {
              border: none;
              background-color: white;
            }

            .action-Btn {
              // background-color: blue;
              // color: white;
              font-size: 16px;
              font-weight: 500;
              padding: 9px 33px;
              border-radius: 5px;
            }

            .deleteBtn {
              display: flex !important;
              align-items: center !important;
              gap: 10px;
            }
          }
        }
      }
    }

    .pagination-div {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
  }
  .no-Data-img{
    width: 61%;
    padding: 41% 0;
    margin: 0 23%;
}
}
