<c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-body>
          <form cForm class="row g-3" [formGroup]="classRoutineForm" (ngSubmit)="routineOnSubmit()">
            <c-col md="6" class="headder-div">
                <label cLabel for="inputPassword34">Week day : {{getUpdateData?.routine?.weekday}}</label>
                <!-- <input formControlName="gender" value="id" cFormControl id="inputPassword34" type="text" placeholder="Gender" /> -->
                 <select formControlName="weekday"  cSelect id="inputState1">
                 
                  <option [value]="null" disabled>Choose...</option>
               
                   <option value="1">Saturday</option>
                  <option value="2">Sunday</option>
                  <option value="3">Monday</option>
                  <option value="4">Tuesday</option>
                  <option value="5">Wednesday</option>
                  <option value="6">Thursday</option>
                  <option value="7">Friday</option>
                 
                </select> 
              
                <p class="validation-Message" *ngIf="errorMessage && errorMessage.weekday && errorMessage.weekday.length">{{errorMessage.weekday[0]}}</p>
               </c-col> 

               <c-col md="6">
                <label cLabel for="inputPassword34">Subject : {{getUpdateData?.routine?.subject?.name}}</label>
                <!-- <input formControlName="gender" value="id" cFormControl id="inputPassword34" type="text" placeholder="Gender" /> -->
                 <select formControlName="subject_id"  cSelect id="inputState1">
                 
                  <option [value]="null" disabled>Choose...</option>
                   <option *ngFor="let item of subjectData?.subject.data" value="{{item.id}}">{{item.name}}</option>
                  
                 
                </select> 
              
                <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.gender && errorMessage.gender.length">{{errorMessage.gender[0]}}</p> -->
               </c-col> 

               <c-col md="6">
                <label cLabel for="inputPassword34">Teacher : {{getUpdateData?.routine?.teacher?.user?.name}}</label>
                <!-- <input formControlName="gender" value="id" cFormControl id="inputPassword34" type="text" placeholder="Gender" /> -->
                 <select formControlName="teacher_id"  cSelect id="inputState1">
                 
                  <option [value]="null" disabled>Choose...</option>
                   <option *ngFor="let item of teaData?.teachers?.data" value="{{item.id}}">{{item.user.name}}</option>
                 
                 
                </select> 
              
                <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.gender && errorMessage.gender.length">{{errorMessage.gender[0]}}</p> -->
               </c-col> 


               <c-col md="6">
                <label cLabel for="inputPassword34">Room : <span class="rooomm">{{getUpdateData?.routine?.room}} </span> </label>
                <!-- <input formControlName="weekday" value="id" cFormControl id="inputPassword34" type="text" placeholder="Gender" /> -->
                 <select formControlName="room_id"  cSelect id="inputState1">
                 
                  <option  disabled>Choose...</option>
                   <option *ngFor="let item of classRoomListData" value="{{item.id}}">{{ item.room_no }}</option>
                 
                 
                </select> 
              
                <p class="validation-Message" *ngIf="errorMessage && errorMessage.room_id && errorMessage.room_id.length">{{errorMessage.room_id[0]}}</p>
               </c-col> 

               <c-col md="6">
                <label cLabel for="">Start Time : {{getUpdateData?.routine?.start_time}}</label>
                <input formControlName="start_time"  cFormControl  type="time" placeholder="Gender" />
               
              
                <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.gender && errorMessage.gender.length">{{errorMessage.gender[0]}}</p> -->
               </c-col> 

               <c-col md="6">
                <label cLabel for="">End Time : {{getUpdateData?.routine?.end_time}}</label>
                <input formControlName="end_time" cFormControl  type="time" placeholder="" />
             
              
                <!-- <p class="validation-Message" *ngIf="errorMessage && errorMessage.items.0.end_time && errorMessage.items.0.end_time.length">{{errorMessage.items.0.end_time[0]}}</p> -->
               </c-col> 




  
            <c-col xs="12">
              <button cButton type="submit">Add Subject</button>
            </c-col>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  