<div class="add-btn-div">
  <a href="" routerLink="/class/classAdd">Add class</a>
</div>


  


<section>
  <div class="table-main-area">
    <div class="table">
      <h1>Class List</h1>
      <div class="table-thead">
        <div class="table-row">
          <div class="table-heading">Class Name</div>
          <div class="table-heading">Action</div>
        </div>
      </div>
      <div class="tbody">
        <div class="table-row" *ngFor="let item of classListData.classes">
          <div class="table-data">{{ item.name }}</div>

          <div class="table-data">
            <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
              class="action-Btn">
              <!-- <mat-icon>more_vert</mat-icon> -->
              <span class="material-symbols-outlined">
                more_vert
                </span>
            </button>
            <mat-menu #menu="matMenu">
            

              <!-- <a [routerLink]="['/base/instituteEdit', item.id]" class="button-atag"> -->
              <!-- <a  class="button-atag">
                <button  mat-menu-item class="deleteBtn" >
                  <span class="material-symbols-outlined"> edit </span>
                <span> Edit </span>
              </button></a> -->
                
             
                <button (click)="confirmBox(item.id)"  mat-menu-item class="deleteBtn" >
                  <span class="material-symbols-outlined"> delete</span>
                  <span>Delete</span>
                </button>
              <!-- [routerLink]="['/base/instituteEdit', element.slug]" -->
              <!-- (click)="deleteDepData(item.id)" -->
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
