




@import "src/scss/routine-list.scss";


.searchSelect{
    width: 125px !important;
   
    height: 36px;
    background-color: #3c4b64;
    color: white;
    padding: 0 10px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
}

.nameFiled{
    width: 190px !important;
}