<section>
  <h1>Super admin profile</h1>
  <div class="profile-main-div">
    <div class="profile-img-div">
      <img src="../../../../assets/img/profile/student1.jpg" alt="" />
    </div>
    <div class="profile-update-div">
      <h1>Update your info</h1>

      <form>
        <div class="form-div">
          <input type="email" name="" id="" placeholder="Enter your email" />
          <input type="password" name="" id="" placeholder="Old password" />
          <input type="password" name="" id="" placeholder="New password" />

          <button type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>
</section>
