@import "src/scss/_list.scss";


.card-main-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 28px;
    margin-top: 4%;
    padding-bottom: 6%;
    .card-sub-div{
        background-color: #fff;
        // width: 21%;
        height: auto;
        box-shadow: 0 4px 4px #00000040;
        border-radius: 5px;
        display: flex;
    align-items: center;
    flex-direction: column;
        .menu-div{
            margin-left: 59%;
          
            button {
                border: none;
                background-color: white;
              }
    
              .action-Btn {
                // background-color: blue;
                // color: white;
                font-size: 16px;
                font-weight: 500;
                padding: 9px 33px;
                border-radius: 5px;
              }
    
              .deleteBtn {
                display: flex !important;
                align-items: center !important;
                gap: 10px;
              }
        }

        .class-Numaric{
            background-color: #f0f2f6;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            text-align: center;
            font-size: 3rem;
            color: #656d77;
            font-weight: 500;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }
        .class-list{
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5rem;
            span{
                font-weight: bold;
            }
        }

        .section-list{
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: #656d77;
            span{
                font-weight: 400;
            }
        }
    }
}

.deleteBtn {
    display: flex !important;
    align-items: center !important;
    gap: 10px;
  }




  @media (min-width: 300px) and (max-width: 400px) {

    .card-main-div{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 28px;
        margin-top: 4%;
        padding-bottom: 6%;
        .card-sub-div{
            background-color: #fff;
            // width: 21%;
            height: auto;
            box-shadow: 0 4px 4px #00000040;
            border-radius: 5px;
            display: flex;
        align-items: center;
        flex-direction: column;
            .menu-div{
                margin-left: 59%;
              
                button {
                    border: none;
                    background-color: white;
                  }
        
                  .action-Btn {
                    // background-color: blue;
                    // color: white;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 9px 33px;
                    border-radius: 5px;
                  }
        
                  .deleteBtn {
                    display: flex !important;
                    align-items: center !important;
                    gap: 10px;
                  }
            }
    
            .class-Numaric{
                background-color: #f0f2f6;
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                text-align: center;
                font-size: 3rem;
                color: #656d77;
                font-weight: 500;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
            }
            .class-list{
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.5rem;
                span{
                    font-weight: bold;
                }
            }
    
            .section-list{
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5rem;
                color: #656d77;
                span{
                    font-weight: 400;
                }
            }
        }
    }
    
    .deleteBtn { 
        display: flex !important;
        align-items: center !important;
        gap: 10px;
      }
    

  }