
@import "src/scss/_list.scss";
@import "src/scss/resList.scss";


.search-main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 39px 0;
    gap: 22px;
    .class-search-main-div{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:12px;
    label{
        font-size: 20px;
    }

    select {
        width: 216px;
    height: 36px !important;
    background-color: #3c4b64;
    color: white;
    padding: 0 10px;
    font-size: 18px !important;
    border-radius: 6px;
    border: none;
    }
button{
    background-color: #ffae01;
    width: 116px;
    height: 36px !important;
    padding: 0 10px;
    font-size: 18px !important;
    border-radius: 6px;
    border: none;
    margin-top: 30px;
    color: white;
}

button:hover{
    background-color: #3c4b64;
    color: white;
}



    }
}