

.testsss{
  
  height: 55vh;
  // padding-left: 30%;
  z-index: 9999999999;
  // margin-top: 10%;
  
  width: 550px;

}


.validation-Message{
    color: red;
    margin-top: 3%;
  }


  @media (min-width: 300px) and (max-width: 400px) {


.testsss{
  height: 48vh;
  z-index: 9999999999;
  width: 224px;

}
  }

