
@import "src/scss/cardList.scss";

.roomNO{
    font-size: 25px !important;
    text-align: center;
    font-weight: 500 !important;
}

.roomCapacity{
    font-size: 18px !important;
    font-weight: 500 !important;
}

.room-card{
    height: 150px !important;
}

