
@import "src/scss/cardList.scss";

.depTName{
    font-size: 25px !important;
    text-align: center;
}

.dept-card{
    height: 130px !important;
}


.test{
    display: flex;
    flex-direction: column;
  } 

  .validation-Message{
    color: red;
    margin-top: 3%;
  }