

<section>
  <div class="card-main-div" *ngIf="sectionListDataaa?.sections?.length">
    <div  *ngFor="let item of sectionListDataaa?.sections"  class="card-sub-div dept-card" >
      <div class="menu-div">
        <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="action-Btn">
          <!-- <mat-icon>more_vert</mat-icon> -->
          <span class="material-symbols-outlined"> more_horiz </span>
        </button>
        <mat-menu #menu="matMenu">
          <!-- <a [routerLink]="['/base/instituteEdit', item.id]" class="button-atag"> -->
          <!-- <a class="button-atag">
            <button mat-menu-item class="deleteBtn">
              <span class="material-symbols-outlined"> edit </span>
              <span> Edit </span>
            </button></a> -->

            <button mat-menu-item (click)="openDialog(item.id)" class="deleteBtn" >
              <span class="material-symbols-outlined">
                add
                </span>
                Add class Teacher
              </button>

          <button (click)="confirmBox(item.id)" mat-menu-item class="deleteBtn">
            <span class="material-symbols-outlined"> delete</span>
            <span>Delete</span>
          </button>
          <!-- [routerLink]="['/base/instituteEdit', element.slug]" -->
          <!-- (click)="deleteDepData(item.id)" -->
        </mat-menu>
      </div>
      <!-- <a [routerLink]="['/section/sectionListShow', item.id]" class="button-atag">
      <p class="class-Numaric">{{item.numeric}}</p>
</a>
      <p class="class-list">
        Class: <span>{{ item.name }}</span>
      </p> -->
      <a   [routerLink]="['/sections', item.id]" [queryParams]="{classId: id}" class="button-atag">
         <!-- <p  class="section-list depTName"> <span >{{ item.name }}</span></p> -->
         <p class="class-Numaric ">{{ item.name }}</p>
      </a>
      <p class="class-list">
        Teacher Name: <span> Reja </span>
      </p>
     
      <p  class="section-list">Capacity: 40</p>
    </div>
  </div>
  <img *ngIf="!sectionListDataaa?.sections?.length" class="no-Data-img" src="../../../../assets/img/no data/no-data-found.png" alt="">

</section>







