
@import "src/scss/cardList.scss";

.depTName{
    font-size: 25px !important;
    text-align: center;
}

.dept-card{
    // height: auto !important;
    padding: 0 5px;

}

.nammmm{

}

.test{
    display: flex;
    flex-direction: column;
  } 

  .validation-Message{
    color: red;
    margin-top: 3%;
  }