<c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-body>
          <form cForm class="row g-3" [formGroup]="classRoomAdd" (ngSubmit)="classRoomSubmit()">
            <c-col md="6">
              <label cLabel for="inputEmail4">Room Number</label>
              <input formControlName="room_no" cFormControl id="inputEmail4" type="text" placeholder="Teacher Name" />
              <p class="validation-Message" *ngIf="errorMessage && errorMessage.room_no && errorMessage.room_no.length">{{errorMessage.room_no[0]}}</p>
            </c-col>
  
       
  
            <c-col md="6">
              <label cLabel for="inputPassword41">Room capacity</label>
              <input formControlName="capacity" value="id" cFormControl id="inputPassword41" type="text" placeholder="Present Address" />
              <p class="validation-Message" *ngIf="errorMessage && errorMessage.capacity && errorMessage.capacity.length">{{errorMessage.capacity[0]}}</p>
            </c-col>
          
  
            <c-col xs="12">
              <button cButton type="submit">Add  Class Room</button>
            </c-col>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  