<c-row>

    <c-col xs="12">
        <c-card class="mb-4">
         
          <c-card-body>
           
           
            <form cForm class="row g-3" [formGroup]="departmentAdd" (ngSubmit)="depSubmit()">
                
                <c-col md="12" class="test">
                  <label cLabel for="2">Depertment name</label>
                  <mat-form-field appearance="fill" cSelect id="inputState21" appearance="outline">
                    <!-- <mat-label>Choose...</mat-label> -->
                    <mat-select formControlName="name" multiple>
                      <mat-option value="bangla">Bangla</mat-option>
                      <mat-option value="english">English</mat-option>
                      <mat-option value="math">Math</mat-option>
                      <mat-option value="science">Science</mat-option>
                      
                    </mat-select>
                  </mat-form-field>
                </c-col>





                <c-col xs="12">
                  <button cButton type="submit">Add Depertment</button>
                </c-col>
              </form>
          </c-card-body>
        </c-card>
      </c-col>
  </c-row>
   