

<!-- <div class="add-btn-div">
    <a href="" routerLink="/subject/subjectAdd"><span class="material-symbols-outlined">add</span>Add Subject</a>
  </div> -->
  
  <section>
    <div class="table-main-area" *ngIf="classRoutinesData?.routines.data.length" >
      <div class="header-div">
        <h1>Class Routine List</h1>
        <div class="add-btn-div">
          <a href="" routerLink="/routine/routineAdd"><span class="material-symbols-outlined">add</span>Add Subject</a>
        </div>
      </div>


<div class="search-main-div">

  <div class="class-search-main-div">
    <label for="">Day</label>
    <select name="" id="">
      <option value="">Sat</option>
      <option value="">Sun</option>
      <option value="">Mon</option>
    </select>
  </div>

  <div class="class-search-main-div">
    <label for="">Class</label>
    <select name="" id="">
      <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option>
    </select>
  </div>
  <div class="class-search-main-div">
    <label for="">Section</label>
    <select name="" id="">
      <option value="">a</option>
      <option value="">b</option>
      <option value="">c</option>
    </select>
  </div>
  <div class="class-search-main-div">
   <button type="submit">Search</button>
  </div>
  
</div>

        
        <div class="table">
         
            <div class="table-thead">
              <div class="table-row">
                <div class="table-heading"> Day</div>
                <div class="table-heading"> Class</div>
                <div class="table-heading"> Section</div>
                <div class="table-heading"> Subject </div>
                <div class="table-heading"> Teacher</div>
                <div class="table-heading">Start Time</div>
      
                <div class="table-heading">End Time</div>
                <div class="table-heading">ACTION</div>
              </div>
            </div>
            <div class="tbody">
              <!-- <div *ngFor="let element of instData.institutes.data | paginate: { itemsPerPage: itemPer_page, currentPage: current_page, totalItems: total }" class="table-row" > -->
                <div class="table-row" *ngFor="let item of classRoutinesData?.routines.data">
                  <div class="table-data">{{item.weekday}}</div>
                  <div class="table-data">{{item?.class?.name}}</div>
                  <div class="table-data">{{item?.section?.name}}</div>
                  <div class="table-data">{{item?.subject?.name}}</div>
                  <div class="table-data">{{item?.teacher?.user?.name}}</div>
                  <div class="table-data">{{item.start_time}}</div>
                  <div class="table-data">{{item.end_time}}</div>
                 <div class="table-data">
                <!-- <button><a href="" routerLink="/class/classAdd"><mat-icon>edit</mat-icon></a></button>
                <button><mat-icon>delete</mat-icon></button> -->
                <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="action-Btn">
                  <!-- <mat-icon>more_vert</mat-icon> -->
                  <span class="material-symbols-outlined">
                    more_vert
                    </span>
                </button>
                <mat-menu #menu="matMenu">
                  <!-- <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                  <mat-icon>edit</mat-icon>
                </button> -->
                <!-- (click)="editDataa(element.slug, i)" -->
                <!-- <a [routerLink]="['/base/instituteEdit', item.id]" class="button-atag">
                  <button  mat-menu-item class="deleteBtn" >
                    <span class="material-symbols-outlined"> edit </span>
                  <span> Edit </span>
                </button></a> -->
                  
                  <button (click)="confirmBox(item.id)"  mat-menu-item class="deleteBtn" >
                    <span class="material-symbols-outlined"> delete</span>
                    <span>Delete</span>
                  </button>
        
                  <!-- (click)="deleteData(element.slug)" -->
                </mat-menu>
                 </div> 
              </div>
             
              
             
         
            </div>
         </div>
         <div class="pagination-div">
          <!-- <pagination-controls (pageChange)="onPageChanged($event)" [maxSize]="8"></pagination-controls> -->
         </div>
    </div>
    <!-- <h3 *ngIf="!teaData?.teachers.data.length" class="no-Data-text">No data</h3> -->
    <!-- <img *ngIf="!subjectData?.subject?.data.length" class="no-Data-img" src="../../../../assets/img/no data/no-data-found.png" alt=""> -->
  
  </section>
  
  
  
  
  
  