

<section>
    <div class="stu-details-main-div">
       <div class="stu-dtls-header-div">
        <div class="stu-dtls-header-text"><h3>Student Details</h3></div>
        <div class="stu-dtls-edit-div">
            <a [routerLink]="['/single-student-details/studentDetailsUpdateList', singleStudentListData?.student?.student_id]"><button><span class="material-symbols-outlined">
                edit_square
                </span></button></a>
        </div>
       </div> 
       <!-- stu-dtls-header-div end  -->

       <div class="stu-info-main-div">
        <div class="stu-info-img-div">
            <img src="{{singleStudentListData?.student?.user?.image}}" alt="">
        </div>
        <!-- stu-info-main-div end  -->
        <div class="stu-info-text-main-div">

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Name :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.user?.name}}</h3>
                </div>
            </div>


            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Gender :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.gender ?  singleStudentListData?.student?.gender:'N/A'}}</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Date Of Birth :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.date_of_birth  ?  singleStudentListData?.student?.date_of_birth:'N/A'}}</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Blood group :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.blood_group  ?  singleStudentListData?.student?.blood_group:'N/A'}}</h3>
                </div>
            </div>


            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Religion :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.religion ?  singleStudentListData?.student?.religion:'N/A'}}</h3>
                </div>
            </div>
            
            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>E-mail :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.user?.email ?  singleStudentListData?.student?.user?.email:'N/A'}}</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Admission Date :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.admission_date ?  singleStudentListData?.student?.admission_date:'N/A'}}</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Class :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.class}}</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Section :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.section}}</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Session :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.session ?  singleStudentListData?.student?.session:'N/A'}}</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Roll :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.roll_no }}</h3>
                </div>
            </div>

            

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Student id :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.student_id}}</h3>
                </div>
            </div>

              <div class="stu-info-text-sub-div">
                    <div class="stu-info-header-div">
                        <h4>Present address :</h4>
                    </div>
                    <div class="stu-info-data-div">
                        <h3>{{singleStudentListData?.student?.present_address ?  singleStudentListData?.student?.present_address:'N/A'}}</h3>
                        
                    </div>
                </div>


            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Permanent address :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.permanent_address ?  singleStudentListData?.student?.permanent_address:'N/A'}}</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Phone :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>{{singleStudentListData?.student?.user?.phone}}</h3>
                </div>
            </div>
         
          
            
        </div>
       </div>
    </div>
</section>