

<section>
    <div class="stu-details-main-div">
       <div class="stu-dtls-header-div">
        <div class="stu-dtls-header-text"><h3>Student Details</h3></div>
        <div class="stu-dtls-edit-div">
            <a ><button><span class="material-symbols-outlined">
                edit_square
                </span></button></a>
        </div>
       </div> 
       <!-- stu-dtls-header-div end  -->

       <div class="stu-info-main-div">
        <div class="stu-info-img-div">
            <img src="../../../../assets/img/profile/student1.jpg" alt="">
        </div>
        <!-- stu-info-main-div end  -->
        <div class="stu-info-text-main-div">

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Name:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>Reja</h3>
                </div>
            </div>


            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Gender:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>Reja</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Date Of Birth:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>Reja</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Blood group:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>Reja</h3>
                </div>
            </div>


            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Religion:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>Reja</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>E-mail:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>Reja</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Admission Date:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>Reja</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Class:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>Reja</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Section:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>Reja</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Session:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>Reja</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Roll:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>Reja</h3>
                </div>
            </div>

            

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Student id:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>Reja</h3>
                </div>
            </div>

              <div class="stu-info-text-sub-div">
                    <div class="stu-info-header-div">
                        <h4>Present address:</h4>
                    </div>
                    <div class="stu-info-data-div">
                        <h3>House:2/1, Road: 4, Block: F Mirpur-2 Dhaka-1216</h3>
                    </div>
                </div>


            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Permanent address:</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>House:2/1, Road: 4, Block: F Mirpur-2 Dhaka-1216</h3>
                </div>
            </div>

            <div class="stu-info-text-sub-div">
                <div class="stu-info-header-div">
                    <h4>Phone :</h4>
                </div>
                <div class="stu-info-data-div">
                    <h3>01666666666</h3>
                </div>
            </div>
         
          
            
        </div>
       </div>
    </div>
</section>