
.testsss{
  
    // height: 55vh;
    // padding-left: 30%;
    // z-index: 9999999999;
    // margin-top: 10%;
    
    width: 450px;
  
  }

// .test{
//     display: flex;
//     flex-direction: column;
//   } 
  
  .validation-Message{
    color: red;
    margin-top: 3%;
  }