


<section>
    <div class="table-main-area">
        <div class="table">
            <div class="table-thead">
                <div class="table-row" >
                    <div class="table-heading">Name</div>
                    <div class="table-heading">EIIN</div>
                    <div class="table-heading">Parent Category</div>
                    <div class="table-heading">Type</div>
                    <div class="table-heading">Union</div>
                    <div class="table-heading">Phone</div>
                    
                    <div class="table-heading">Action</div>
                  
                </div>
            </div>
            <div class="tbody">
              <div class="table-row" >
                 <div class="table-data">Mandra radhagonj united institution</div>
                 <div class="table-data">123456</div>
                 <div class="table-data">Secondary school</div>
                 <div class="table-data">Government</div>
                 <div class="table-data">khusla</div>
                 <div class="table-data">01630630899</div>
                 <div class="table-data">
                  <button><a href="" routerLink="/parents/parentsAdd"><mat-icon>edit</mat-icon></a></button>
      <button><mat-icon>delete</mat-icon></button>
                 </div> 
              </div>
              <div class="table-row" >
                 <div class="table-data">Rajuk Uttora</div>
                 <div class="table-data">123456</div>
                 <div class="table-data">Secondary school</div>
                 <div class="table-data">Government</div>
                 <div class="table-data">khusla</div>
                 <div class="table-data">01630630899</div>
                 <div class="table-data">
                  <button><a href="" routerLink="/parents/parentsAdd"><mat-icon>edit</mat-icon></a></button>
      <button><mat-icon>delete</mat-icon></button>
                 </div>
              </div>
              
             
         
            </div>
         </div>
    </div>
</section>